/*20140724 房子、个人在线状态图标*/
.icon-house-1{background:url('icons/house_icon_1.png') no-repeat center center;}
.icon-house-2{background:url('icons/house_icon_2.png') no-repeat center center;}
.icon-person-online{background:url('icons/person_icon_1.png') no-repeat center center;}
.icon-person-busy{background:url('icons/person_icon_2.png') no-repeat center center;}
.icon-person-offline{background:url('icons/person_icon_3.png') no-repeat center center;}
.icon-person-leave{background:url('icons/person_icon_4.png') no-repeat center center;}
.icon-application{background:url('icons/application.png') no-repeat center center;}
.icon-application-add{background:url('icons/application_add.png') no-repeat center center;}
.icon-application-delete{background:url('icons/application_delete.png') no-repeat center center;}
.icon-application-edit{background:url('icons/application_edit.png') no-repeat center center;}
.icon-application-error{background:url('icons/application_error.png') no-repeat center center;}
.icon-group{background:url('icons/group.png') no-repeat center center;}
.icon-group-add{background:url('icons/group_add.png') no-repeat center center;}
.icon-group-delete{background:url('icons/group_delete.png') no-repeat center center;}
.icon-group-edit{background:url('icons/group_edit.png') no-repeat center center;}
.icon-role{background:url('icons/role.png') no-repeat center center;}
.icon-role-delete{background:url('icons/role_delete.png') no-repeat center center;}
.icon-role-disable{background:url('icons/role_disable.png') no-repeat center center;}
.icon-menu{background:url('icons/menu.png') no-repeat center center;}
.icon-menu-add{background:url('icons/menu_add.png') no-repeat center center;}
.icon-menu-delete{background:url('icons/menu_delete.png') no-repeat center center;}
.icon-menu-edit{background:url('icons/menu_edit.png') no-repeat center center;}
.icon-wrench{background:url('icons/wrench.png') no-repeat center center;}
